<form action="/score/{{addscore.id}}" method="post">
    <div class="df">

        <label class="lmp" for="name">Add score</label>
        <input class="imp" type="number" name="addscore" id="addscore" placeholder="Add score">
        <input type="hidden" name="scoreEskisi" id="{{id}}" value={{addscore.score}}>
    </div>
    <input class="isub" type="submit"></div>
</form>