<form action="/filter">
    <div class="df">
        <label class="lmp" for="filtermonth">Search month</label>
        <input class="imp" type="number" name="month" id="filtermonth">
    </div>
    <input class="isub" type="submit"></div>
</form>