<h1>ADD new schoolboy</h1>
<div class="addboy">
    <form action="/add" method="post">
    <div class="df">   
        <label class="lmp" for="name">Name</label>
    <input class="imp" type="text" name="name" id="name" placeholder="Pupil name"></div>
    <br><br>
      <div class="df">   
        <label class="lmp" for="surname">Surname</label>
    <input class="imp" type="text" name="surname" id="surname" placeholder="Pupil surname"></div>
    <br><br>
      <div class="df">   
        <label class="lmp" for="number">Pupil number</label>
    <input class="imp" type="number" name="number" id="number" placeholder="Number"></div>
    <br><br>
      <div class="df">   
        <label class="lmp" for="group">Group</label>
    <input class="imp" type="number" name="group" id="group" placeholder="Pupil group"></div>
    <br><br>
    <div class="df ">    <label class="lmp" for="month">Month</label>
    <input class="imp" type="number" name="month" id="month" placeholder="Study month"></div>
    <br><br>
    <div class="df">  <label class="lmp" for="score">Score</label>
    <input class="imp" type="number" name="score" id="score" placeholder="Pupil ball">
    <input class="isub" type="submit"></div>
</form>
</div>
